*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App{
  background-image: url('./assets/A1.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
}
.App.warm{
  background-image: url('./assets/A2.jpg');
}

main{
  min-height: 100vh;
  padding: 25px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2),rgba(0,0,0,0.75));
}

.search-box{
  width: 100%;
  margin: 0px 0px 75px;
}
.search-box .search-bar{
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255,255,255,0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0,0,0,0.2);

  color: #313131;
  font-size: 20px;

  transition: 0.4s ease;
}

.search-box .search-bar:focus{
  background-color: rgba(255,255,255,0.75);
}

.location-box .location{
  color: white;
  font-size:  32px;
  font-weight: 700;
  text-align: center;
  text-shadow: 3px 3px rgba(50,50,70,0.5);
}

.location-box .date{
  color: white;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  text-shadow: 2.5px 2.5px rgba(50,50,70,0.5);
}

.weather-box {
  text-align: center;
}

.weather-box .temp{
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255,255,255,0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: white;
  font-size: 102px;
  font-weight: 900;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  text-shadow: 3px 6px rgba(50,50,70,0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0,0,0,0.2);
}

.weather-box .weather{
  color: white;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50,50,70,0.5);
}

/* 
@media (max-width: 350px)
        {
            .App{
                max-width: 350px;
            }
        }
@media (min-width: 350px) and (max-width: 550px)
        {
            .App{
              max-width: 550px;
            }
        }
@media (min-width: 550px) 
        {
            .App{
                background-image: url('./assets/A1.jpg');
            }
            .App.warm{
              background-image: url('./assets/A2.jpg');
            }
        } */
/* @media (min-width: 900px) and (max-width: 1200px)
        {
            #box-4{
                display: block;
                background-color: brown;
            }
        }
@media (min-width: 1200px)
        {
            .box{
                display: block;
            }
        } */

