*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'montseratt', sans-serif;
}

.App{
  background-image: url('./assets/2.PNG');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}
.App .warm{
  background-image: url('./assets/1.PNG');
  
}

main{
  min-height: 100vh;
  padding: 25px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2),rgba(0,0,0,0.75));
}

.search-box{
  width: 100%;
  margin: 0px 0px 75px;
}
.search-box .search-bar{
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255,255,255,0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0,0,0,0.2);

  color: #313131;
  font-size: 20px;

  transition: 0.4s ease;
}

.search-box .search-bar:focus{
  background-color: rgba(255,255,255,0.75);
}
